html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

.slider {
    width: 100%;
    height: 70%;
    background-color: aliceblue;
    display: flex;
    overflow-x: hidden;
    
    
}

.slide-title {
    width: 60%;
    height: 30%;
    background-color: bisque;
    display: flex;
}

.slide-title-item {
    opacity: 0;
}



.controls {
    width: 40%;
    height: 30%;
    background-color: blanchedalmond;
    display: flex;
    gap: 5%;
}

label {
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
}

.slide-one-content {
   width: 100%;
   height: 100%;
   background-color: red;
   flex-shrink: 0;
   transition: 0s;
}


.slide-two-content {
    width: 100%;
    height: 100%;
    background-color: blue;
    flex-shrink: 0;
 }


 .slide-three-content {
    width: 100%;
    height: 100%;
    background-color: green;
    flex-shrink: 0;
 }

 .slide-four-content {
    width: 100%;
    height: 100%;
    background-color: yellow;
    flex-shrink: 0;
 }
 

 #slide-one:checked ~ .slider .slide-one-content,
 #slide-one:checked ~ .slider .slide-two-content,
 #slide-one:checked ~ .slider .slide-three-content,
 #slide-one:checked ~ .slider .slide-four-content   {
    transform: translateX(0);
    transition: 1s;
} 


 
 #slide-two:checked ~ .slider .slide-two-content,
 #slide-two:checked ~ .slider .slide-one-content,
 #slide-two:checked ~ .slider .slide-three-content,
 #slide-two:checked ~ .slider .slide-four-content {
    transform: translateX(-100%);
    transition: 1s;
}

#slide-three:checked ~ .slider .slide-three-content,
#slide-three:checked ~ .slider .slide-one-content,
#slide-three:checked ~ .slider .slide-four-content,
#slide-three:checked ~ .slider .slide-two-content {
    transform: translateX(-200%);
    transition: 1s;
}



#slide-four:checked ~ .slider .slide-four-content,
#slide-four:checked ~ .slider .slide-one-content,
#slide-four:checked ~ .slider .slide-three-content,
#slide-four:checked ~ .slider .slide-two-content {
    transform: translateX(-300%);
    transition: 1s;
}







#slide-two:checked ~ .slide-title .slide-two-title {
    opacity: 1;
    order: -1;
    transition: opacity 2s;
}

#slide-one:checked ~ .slide-title .slide-one-title {
    opacity: 1;
    order: -1;
    transition: opacity 2s;
}

#slide-three:checked ~ .slide-title .slide-three-title {
    opacity: 1;
    order: -1;
    transition: opacity 2s;
}

#slide-four:checked ~ .slide-title .slide-four-title {
    opacity: 1;
    order: -1;
    transition: opacity 2s;
}
