html {
    scroll-behavior: smooth;
}

.body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2228;
    overflow-y: hidden;
    color: #E1E2E2;
    font-family: Chivo;
    
}

input {
    display: none;
}

.container {
    margin-top: 10rem;
    width: 35vw;
    min-width: 20rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.slider {
    display: flex;
    overflow-x: hidden;
}

.slide-content {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

.slide-title {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.slide-title-item {
    opacity: 0;
}



.controls {
    width: 40%;
    display: flex;
    gap: 5%;
    justify-content: end;
}


label {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control-item {
    width: 1rem;
    height: 1rem;
    background-color: #FB8122;
    border-radius: 50%;
}

label:hover .control-item {
    background-color: #E1E2E2;
    transition: 0.3s;
}

label:active .control-item { 
    transform: scale(1.2);
}



.slide-one-content {
   width: 100%;
   height: 100%;
   background-color: red;
   flex-shrink: 0;
   transition: 0s;
}


.slide-two-content {
    width: 100%;
    height: 100%;
    background-color: blue;
    flex-shrink: 0;
 }


 .slide-three-content {
    width: 100%;
    height: 100%;
    background-color: green;
    flex-shrink: 0;
 }

 .slide-four-content {
    width: 100%;
    height: 100%;
    background-color: yellow;
    flex-shrink: 0;
 }
 

 #slide-one:checked ~ .slider .slide-one-content,
 #slide-one:checked ~ .slider .slide-two-content,
 #slide-one:checked ~ .slider .slide-three-content,
 #slide-one:checked ~ .slider .slide-four-content   {
    transform: translateX(0);
    transition: 1.5s;
} 


 
 #slide-two:checked ~ .slider .slide-two-content,
 #slide-two:checked ~ .slider .slide-one-content,
 #slide-two:checked ~ .slider .slide-three-content,
 #slide-two:checked ~ .slider .slide-four-content {
    transform: translateX(-100%);
    transition: 1.5s;
}

#slide-three:checked ~ .slider .slide-three-content,
#slide-three:checked ~ .slider .slide-one-content,
#slide-three:checked ~ .slider .slide-four-content,
#slide-three:checked ~ .slider .slide-two-content {
    transform: translateX(-200%);
    transition: 1.5s;
}



#slide-four:checked ~ .slider .slide-four-content,
#slide-four:checked ~ .slider .slide-one-content,
#slide-four:checked ~ .slider .slide-three-content,
#slide-four:checked ~ .slider .slide-two-content {
    transform: translateX(-300%);
    transition: 1.5s;
}



#slide-two:checked ~ .slide-title .slide-two-title {
    opacity: 1;
    order: -1;
    transition: opacity 5s;
}

#slide-one:checked ~ .slide-title .slide-one-title {
    opacity: 1;
    order: -1;
    transition: opacity 5s;
}

#slide-three:checked ~ .slide-title .slide-three-title {
    opacity: 1;
    order: -1;
    transition: opacity 5s;
}

#slide-four:checked ~ .slide-title .slide-four-title {
    opacity: 1;
    order: -1;
    transition: opacity 5s;
}

#slide-two:checked ~ .controls .control-two-item {
    box-sizing: border-box;
    background-color: #1D2228;
    border: solid 0.2rem #FB8122;

}

#slide-one:checked ~ .controls .control-one-item {
    box-sizing: border-box;
    background-color: #1D2228;
    border: solid 0.2rem #FB8122;
}

#slide-three:checked ~ .controls .control-three-item {
    box-sizing: border-box;
    background-color: #1D2228;
    border: solid 0.2rem #FB8122;
}

#slide-four:checked ~ .controls .control-four-item {
    box-sizing: border-box;
    background-color: #1D2228;
    border: solid 0.2rem #FB8122;
}

@media (max-width: 479px) {
    .slider {
        order: 1;
    }

    .slide-title {
        order: 3;
        align-self: flex-start;
        width: 100%;
    }

    .controls {
        order: 2;
    }

    .container {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
}